html,
body {
  scroll-behavior: smooth;
  scroll-padding: 60px;
  word-break: keep-all;
}

.swiper-cards {
  height: 100px;
  width: fit-content;
  border-radius: var(--chakra-radii-md);
  margin: 0;
  box-shadow: var(--chakra-shadows-md);
}

.swiper-cards__slide {
  height: fit-content;
  background-color: var(--chakra-colors-cyan-100);
  font-weight: bold;
  font-size: 1.25rem;
  display: grid;
  align-items: center;
  padding-inline: var(--chakra-space-8) var(--chakra-space-1);
}

.swiper-cards__slide:nth-child(2n) {
  background-color: var(--chakra-colors-common-second);
  color: var(--chakra-colors-common-main);
}

.swiper-pagination {
  width: fit-content;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  left: var(--chakra-space-2);
}

.markdown :is(h2, h3) {
  font-weight: bold;
  margin-top: 1rem;
}

.markdown h2 {
  font-size: 2rem;
}
.markdown h3 {
  font-size: 1.5rem;
}

.markdown p {
  margin-bottom: 0.5rem;
}

.popup {
  z-index: 2;
}

.popup-clicked {
  z-index:3;
}

.popup-hovered {
  z-index: 4;
  pointer-events: none;
}

.popup .mapboxgl-popup-content {
  padding: var(--chakra-space-4);
  border-radius: var(--chakra-radii-md);
  box-shadow: var(--chakra-shadows-md);
  display: flex;
  flex-direction: column;
  position: relative;
  gap: var(--chakra-space-1);
  min-width: 25ch;
  max-width: 50vw;
}