html, body, #__next {
  height: 100%;
}
html {
  scroll-behavior: smooth;
  scroll-padding: 60px;
  word-break: keep-all;
}

#__next {
  display: flex;
  flex-direction: column;
}

.swiper-cards {
  height: 100px;
  width: fit-content;
  border-radius: var(--chakra-radii-md);
  margin: 0;
  box-shadow: var(--chakra-shadows-md);
}

.swiper-cards__slide {
  height: fit-content;
  background-color: var(--chakra-colors-cyan-100);
  font-weight: bold;
  font-size: 1.25rem;
  display: grid;
  align-items: center;
  padding-inline: var(--chakra-space-8) var(--chakra-space-2);
}

.swiper-cards__slide:nth-child(2n) {
  background-color: var(--chakra-colors-common-second);
  color: var(--chakra-colors-common-main);
}

.swiper-pagination {
  width: fit-content;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  left: var(--chakra-space-2);
}

.privacy {line-break: strict;word-break: keep-all}
.privacy * + * {margin-top: 1.5rem;}

.privacy {counter-reset: h2 h3;}
.privacy h2 {counter-increment: h2; counter-reset: h3;}
.privacy h2::before {content: '제'counter(h2)'조 (';}
.privacy h2::after {content: ')';}
.privacy h3 {counter-increment: h3;}
.privacy h3::before {content: counter(h3)'. ';}

.privacy :is(ol, ul) {margin-inline-start: 1.25em;}
.privacy ol ol {counter-reset: item}
.privacy ol ol > li{counter-increment: item;}
.privacy ol ol > li::marker {content: counter(item) ") "; }

/* .privacy ol ul {list-style-type: '- '; margin-inline-start: 0;} */

.privacy table {
  width: 100%;
  text-align: center;
}
.privacy :is(th, td) {
  border: 1px solid black;
  padding: 0.5em;
}

.privacy ul {list-style-type: disc;}
.privacy ul ul {list-style-type: circle;}

.privacy .indent {
  text-indent: 1.25em;
}

.privacy .dashed-ul ul {
   list-style-type: '- ';
   margin-inline-start: 0;
 }

.privacy a {color: blue}

.markdown :is(h2, h3) {
  font-family: inherit;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 1.25rem;
  
}

.markdown h2 {
  font-size: 2rem;
}
.markdown h3 {
  font-size: 1.5rem;
}



.popup {
  z-index: 2;
}

.popup-clicked {
  z-index:3;
}

.popup-hovered {
  z-index: 4;
  pointer-events: none;
}

.popup .mapboxgl-popup-content {
  padding: var(--chakra-space-4);
  border-radius: var(--chakra-radii-md);
  box-shadow: var(--chakra-shadows-md);
  display: flex;
  flex-direction: column;
  position: relative;
  gap: var(--chakra-space-1);
  min-width: 25ch;
  max-width: 50vw;
}